---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

const links = [
  {
    label: "Github",
    url: "https://github.com/yutadev31",
    id: "yutadev31",
  },
  {
    label: "Gitlab",
    url: "https://gitlab.com/yuta31",
    id: "yuta31",
  },
  {
    label: "CodeBerg",
    url: "https://codeberg.org/yutadev",
    id: "yutadev",
  },
  {
    label: "Twitter",
    url: "https://x.com/yuta256dev",
    id: "yuta256dev",
  },
  {
    label: "Qiita",
    url: "https://qiita.com/yutadev31",
    id: "yutadev31",
  },
  {
    label: "Zenn",
    url: "https://zenn.dev/yutalinux",
    id: "yutalinux",
  },
  {
    label: "YouTube",
    url: "https://www.youtube.com/@yuta256dev",
    id: "yuta256dev",
  },
];
---

<Layout title="Yuta's Portfolio" lang="en">
  <Header />
  <main class="mx-auto w-full max-w-xl flex-1">
    <h2 class="mb-4 text-2xl font-bold">SNS Links</h2>
    <div class="flex w-full flex-wrap gap-2">
      {
        links.map((link) => {
          return (
            <a
              href={link.url}
              class="card group w-full rounded-lg bg-slate-100 px-4 py-2 dark:bg-slate-800"
            >
              <p class="text-lg text-slate-800 transition-all group-hover:text-blue-500 dark:text-white dark:group-hover:text-blue-400">
                {link.label}
              </p>
              <p class="text-sm text-slate-400 dark:text-slate-500">
                @{link.id}
              </p>
            </a>
          );
        })
      }
    </div>
  </main>
  <Footer />
</Layout>

<style>
  .card {
    width: calc(50% - 4px);
  }
</style>
