---
import Links from "../components/Links.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Yuta's Portfolio" lang="en">
  <h2 class="mb-2 text-2xl font-bold">About me</h2>
  <p>I'm <b>Yuta</b>, a hobbyist software developer from Japan.</p>
  <Links />
</Layout>
