<header class="mx-auto w-full max-w-xl py-4">
  <nav class="flex items-center">
    <a href="/" class="text-3xl font-bold transition-all hover:text-blue-400">
      Yuta's Website
    </a>
  </nav>
</header>
