<header class="mx-auto w-full max-w-xl py-4">
  <nav class="flex items-center justify-between">
    <a
      href="/"
      class="text-3xl font-bold text-slate-900 transition-all hover:text-blue-400 dark:text-white"
    >
      Yuta's Website
    </a>

    <button
      id="theme-toggle"
      class="rounded-full p-2 hover:bg-slate-200 dark:hover:bg-slate-700"
    >
      <svg
        id="sun-icon"
        class="h-6 w-6 text-slate-800 dark:hidden"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 3v1m0 16v1m9-9h1M3 12H2m15.325 5.325l-.707.707M6.364 6.364l-.707-.707m12.728 0l-.707.707M6.364 17.636l-.707-.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
        ></path>
      </svg>
      <svg
        id="moon-icon"
        class="hidden h-6 w-6 text-white dark:block"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
        ></path>
      </svg>
    </button>
  </nav>
</header>

<script>
  const themeToggle = document.getElementById("theme-toggle");
  if (themeToggle) {
    themeToggle.addEventListener("click", () => {
      const isDark = document.documentElement.classList.toggle("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
  }
</script>
